{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account_styles/login_cars.css' %}">

<div class="forms-main">

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <div class="img-div">
                <h1>Entre com a sua conta</h1>
                <img src="{% static 'img/forgot-password.gif' %}" alt="Conecte-se">
            </div>
            <label>Nome de usuário</label>
            {{login_form.username.errors}}
            <input type="text" name="username">

            <label>Senha</label>
            {{login_form.password.errors}}
            <input type="password" name="password">

            <input type="submit" value="Entrar" class="btn-primary">
        </div>
    </form>

</div>
{% endblock %}