{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account_styles/register_cars.css' %}">

    <form method="post">
        {% csrf_token %}

        <div class="forms-main">

            <div class="form-group">
                 <!--Form Group é padrão do django-->
                <div class="img-div">
                    <h1>Crie a sua conta</h1>
                    <img src="{% static 'img/Login.gif' %}" alt="Registre-se">
                </div>
                <div class="error_message">{{user_form.username.errors}}</div> <!--Para deixar um erro visível-->
                <label>Defina seu nome de usuário</label>
                {{user_form.username}}

                <div class="error_message">{{user_form.password1.errors}}</div>
                <label>Crie uma senha</label>
                {{user_form.password1}}

                <div class="error_message">{{user_form.password2.errors}}</div>
                <label>Confirme a senha</label>
                {{user_form.password2}}

                <input type="submit" value="Cadastrar" class="btn-primary">
            </div>
        </div>

    </form>
{% endblock %}