{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Venda de carros</title>  <!-- <title> {% block title %}{% endblock %} </title> -->
  <link rel="stylesheet" href="{% static 'css/base_styles/base.css' %}">
</head>
<body>
  <header>
    <div class="header_title">
        <h1 class="title">Berg Autocar</h1>
        <p>Compre seu carro aqui</p>
    </div>      
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li>Olá, {{user.username}}</li>|
        {% endif %}
        {% if not user.is_authenticated %}
          <li>
            <a href="{% url 'register' %}">Cadastre-se</a>
          </li>
          <li><a href="{% url 'login' %}">Entrar</a></li>
        {% endif %}

        <li><a href="{% url 'cars_list' %}">Carros</a></li>

        {% if user.is_authenticated %}
          <li><a href="{% url 'new_cars_list' %}">Cadastrar carro</a></li>
        {% endif %}

        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Sair</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <div class="container">
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </div>

  <footer>
    <p>&copy; 2023 BergAutocar Multimarcas</p>
  </footer>
</body>
</html>